@font-face {
  font-family: "Badr";
  src: url("../fonts/fa/BBadr.eot") format("eot"), url("../fonts/fa/BBadr.woff") format("woff"), url("../fonts/fa/BBadr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Baran";
  src: url("../fonts/fa/BBaran.eot") format("eot"), url("../fonts/fa/BBaran.woff") format("woff"), url("../fonts/fa/BBaran.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Bardiya";
  src: url("../fonts/fa/BBardiya.eot") format("eot"), url("../fonts/fa/BBardiya.woff") format("woff"), url("../fonts/fa/BBardiya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Compset";
  src: url("../fonts/fa/BCompset.eot") format("eot"), url("../fonts/fa/BCompset.woff") format("woff"), url("../fonts/fa/BCompset.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Davat";
  src: url("../fonts/fa/BDavat.eot") format("eot"), url("../fonts/fa/BDavat.woff") format("woff"), url("../fonts/fa/BDavat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Elham";
  src: url("../fonts/fa/BElham.eot") format("eot"), url("../fonts/fa/BElham.woff") format("woff"), url("../fonts/fa/BElham.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Esfehan";
  src: url("../fonts/fa/BEsfehanBold.eot") format("eot"), url("../fonts/fa/BEsfehanBold.woff") format("woff"), url("../fonts/fa/BEsfehanBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Fantezy";
  src: url("../fonts/fa/BFantezy.eot") format("eot"), url("../fonts/fa/BFantezy.woff") format("woff"), url("../fonts/fa/BFantezy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Farnaz";
  src: url("../fonts/fa/BFarnaz.eot") format("eot"), url("../fonts/fa/BFarnaz.woff") format("woff"), url("../fonts/fa/BFarnaz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ferdosi";
  src: url("../fonts/fa/BFerdosi.eot") format("eot"), url("../fonts/fa/BFerdosi.woff") format("woff"), url("../fonts/fa/BFerdosi.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Hamid";
  src: url("../fonts/fa/BHamid.eot") format("eot"), url("../fonts/fa/BHamid.woff") format("woff"), url("../fonts/fa/BHamid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Helal";
  src: url("../fonts/fa/BHelal.eot") format("eot"), url("../fonts/fa/BHelal.woff") format("woff"), url("../fonts/fa/BHelal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Homa";
  src: url("../fonts/fa/BHoma.eot") format("eot"), url("../fonts/fa/BHoma.woff") format("woff"), url("../fonts/fa/BHoma.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Jadid";
  src: url("../fonts/fa/BJadidBold.eot") format("eot"), url("../fonts/fa/BJadidBold.woff") format("woff"), url("../fonts/fa/BJadidBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Jalal";
  src: url("../fonts/fa/BJalal.eot") format("eot"), url("../fonts/fa/BJalal.woff") format("woff"), url("../fonts/fa/BJalal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Koodak";
  src: url("../fonts/fa/BKoodakBold.eot") format("eot"), url("../fonts/fa/BKoodakBold.woff") format("woff"), url("../fonts/fa/BKoodakBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Kourosh";
  src: url("../fonts/fa/BKourosh.eot") format("eot"), url("../fonts/fa/BKourosh.woff") format("woff"), url("../fonts/fa/BKourosh.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Lotus";
  src: url("../fonts/fa/BLotus.eot") format("eot"), url("../fonts/fa/BLotus.woff") format("woff"), url("../fonts/fa/BLotus.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Mahsa";
  src: url("../fonts/fa/BMahsa.eot") format("eot"), url("../fonts/fa/BMahsa.woff") format("woff"), url("../fonts/fa/BMahsa.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Mehr";
  src: url("../fonts/fa/BMehrBold.eot") format("eot"), url("../fonts/fa/BMehrBold.woff") format("woff"), url("../fonts/fa/BMehrBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Mitra";
  src: url("../fonts/fa/BMitra.eot") format("eot"), url("../fonts/fa/BMitra.woff") format("woff"), url("../fonts/fa/BMitra.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Morvarid";
  src: url("../fonts/fa/BMorvarid.eot") format("eot"), url("../fonts/fa/BMorvarid.woff") format("woff"), url("../fonts/fa/BMorvarid.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Narm";
  src: url("../fonts/fa/BNarm.eot") format("eot"), url("../fonts/fa/BNarm.woff") format("woff"), url("../fonts/fa/BNarm.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Nasim";
  src: url("../fonts/fa/BNasimBold.eot") format("eot"), url("../fonts/fa/BNasimBold.woff") format("woff"), url("../fonts/fa/BNasimBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Nazanin";
  src: url("../fonts/fa/BNazanin.eot") format("eot"), url("../fonts/fa/BNazanin.woff") format("woff"), url("../fonts/fa/BNazanin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Roya";
  src: url("../fonts/fa/BRoya.eot") format("eot"), url("../fonts/fa/BRoya.woff") format("woff"), url("../fonts/fa/BRoya.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Setareh";
  src: url("../fonts/fa/BSetarehBold.eot") format("eot"), url("../fonts/fa/BSetarehBold.woff") format("woff"), url("../fonts/fa/BSetarehBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Shiraz";
  src: url("../fonts/fa/BShiraz.eot") format("eot"), url("../fonts/fa/BShiraz.woff") format("woff"), url("../fonts/fa/BShiraz.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Sina";
  src: url("../fonts/fa/BSinaBold.eot") format("eot"), url("../fonts/fa/BSinaBold.woff") format("woff"), url("../fonts/fa/BSinaBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Tabassom";
  src: url("../fonts/fa/BTabassom.eot") format("eot"), url("../fonts/fa/BTabassom.woff") format("woff"), url("../fonts/fa/BTabassom.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Tehran";
  src: url("../fonts/fa/BTehran.eot") format("eot"), url("../fonts/fa/BTehran.woff") format("woff"), url("../fonts/fa/BTehran.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Titr";
  src: url("../fonts/fa/BTitrBold.eot") format("eot"), url("../fonts/fa/BTitrBold.woff") format("woff"), url("../fonts/fa/BTitrBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "TitrTGE";
  src: url("../fonts/fa/BTitrTGEBold.eot") format("eot"), url("../fonts/fa/BTitrTGEBold.woff") format("woff"), url("../fonts/fa/BTitrTGEBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Traffic";
  src: url("../fonts/fa/BTraffic.eot") format("eot"), url("../fonts/fa/BTraffic.woff") format("woff"), url("../fonts/fa/BTraffic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Vahid";
  src: url("../fonts/fa/BVahidBold.eot") format("eot"), url("../fonts/fa/BVahidBold.woff") format("woff"), url("../fonts/fa/BVahidBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Yagut";
  src: url("../fonts/fa/BYagut.eot") format("eot"), url("../fonts/fa/BYagut.woff") format("woff"), url("../fonts/fa/BYagut.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Yas";
  src: url("../fonts/fa/BYas.eot") format("eot"), url("../fonts/fa/BYas.woff") format("woff"), url("../fonts/fa/BYas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Yekan";
  src: url("../fonts/fa/BYekan.eot") format("eot"), url("../fonts/fa/BYekan.woff") format("woff"), url("../fonts/fa/BYekan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Zar";
  src: url("../fonts/fa/BZar.eot") format("eot"), url("../fonts/fa/BZar.woff") format("woff"), url("../fonts/fa/BZar.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Ziba";
  src: url("../fonts/fa/BZiba.eot") format("eot"), url("../fonts/fa/BZiba.woff") format("woff"), url("../fonts/fa/BZiba.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Yekan";
  src: url("../fonts/BYekan.eot");
  src: url("../fonts/BYekan.eot?#iefix") format("embedded-opentype"), url("../fonts/BYekan.woff2") format("woff2"), url("../fonts/BYekan.woff") format("woff"), url("../fonts/BYekan.ttf") format("truetype"), url("../fonts/BYekan.svg#Yekan") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Mj_Beirut_Lt_X3";
  src: url("../fonts/Mj_Beirut_Lt_X3.eot");
  src: url("../fonts/Mj_Beirut_Lt_X3.eot?#iefix") format("embedded-opentype"), url("../fonts/Mj_Beirut_Lt_X3.woff2") format("woff2"), url("../fonts/Mj_Beirut_Lt_X3.woff") format("woff"), url("../fonts/Mj_Beirut_Lt_X3.ttf") format("truetype"), url("../fonts/Mj_Beirut_Lt_X3.svg#Mj_Beirut_Lt_X3") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Calibri";
  src: url("../fonts/Calibri.eot");
  src: url("../fonts/Calibri.eot?#iefix") format("embedded-opentype"), url("../fonts/Calibri.woff2") format("woff2"), url("../fonts/Calibri.woff") format("woff"), url("../fonts/Calibri.ttf") format("truetype"), url("../fonts/Calibri.svg#Calibri") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Yekan", Tahoma, Badr, Baran, Bardiya, Compset, Davat, Elham, Esfahan, Fantezy, Farnaz, Ferdosi, Hamid, Helal, Homa, Jadid, Jalal, Koodak, Kourosh, Lotus, Mahsa, Mehr, Mitra, Morvarid, Narm, Nasim, Nazanin, Roya, Setareh, Shiraz, Sina, Tabassom, Tehran, Titr, TitrTGE, Traffic, Vahid, Yagut, Yas, Yekan, Zar, Ziba;
  font-size: 14px;
  width: 100%;
  margin: 0 auto;
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: "Yekan", Tahoma, Badr, Baran, Bardiya, Compset, Davat, Elham, Esfahan, Fantezy, Farnaz, Ferdosi, Hamid, Helal, Homa, Jadid, Jalal, Koodak, Kourosh, Lotus, Mahsa, Mehr, Mitra, Morvarid, Narm, Nasim, Nazanin, Roya, Setareh, Shiraz, Sina, Tabassom, Tehran, Titr, TitrTGE, Traffic, Vahid, Yagut, Yas, Yekan, Zar, Ziba;
  font-size: 14px; }

body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: "Yekan", Tahoma, Badr, Baran, Bardiya, Compset, Davat, Elham, Esfahan, Fantezy, Farnaz, Ferdosi, Hamid, Helal, Homa, Jadid, Jalal, Koodak, Kourosh, Lotus, Mahsa, Mehr, Mitra, Morvarid, Narm, Nasim, Nazanin, Roya, Setareh, Shiraz, Sina, Tabassom, Tehran, Titr, TitrTGE, Traffic, Vahid, Yagut, Yas, Yekan, Zar, Ziba;
  font-size: 14px;
  opacity: 1; }

body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: "Yekan", Tahoma, Badr, Baran, Bardiya, Compset, Davat, Elham, Esfahan, Fantezy, Farnaz, Ferdosi, Hamid, Helal, Homa, Jadid, Jalal, Koodak, Kourosh, Lotus, Mahsa, Mehr, Mitra, Morvarid, Narm, Nasim, Nazanin, Roya, Setareh, Shiraz, Sina, Tabassom, Tehran, Titr, TitrTGE, Traffic, Vahid, Yagut, Yas, Yekan, Zar, Ziba;
  font-size: 14px;
  opacity: 1; }

body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: "Yekan", Tahoma, Badr, Baran, Bardiya, Compset, Davat, Elham, Esfahan, Fantezy, Farnaz, Ferdosi, Hamid, Helal, Homa, Jadid, Jalal, Koodak, Kourosh, Lotus, Mahsa, Mehr, Mitra, Morvarid, Narm, Nasim, Nazanin, Roya, Setareh, Shiraz, Sina, Tabassom, Tehran, Titr, TitrTGE, Traffic, Vahid, Yagut, Yas, Yekan, Zar, Ziba;
  font-size: 14px; }

input[type=text] {
  padding: 2px 10px;
  font-size: 14px;
  height: inherit;
  background: white;
  color: black; }

.my-preloader {
  width: 100%;
  position: fixed;
  top: 30%; }
  .my-preloader h2 {
    width: 368px;
    margin: 0 auto 15px;
    font-size: 32px;
    margin-bottom: 15px;
    color: #9F9F9F; }
  .my-preloader .preloader-wrapper {
    direction: ltr;
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 90px; }
  .my-preloader .circle-clipper .circle {
    border-width: 10px; }

.preloading {
  background: #CCCCCC; }

#modal1 p {
  font-size: 13px; }
  #modal1 p span {
    font-size: 18px; }
#modal1 h1 {
  margin-bottom: 10px; }

.autoc {
  width: 93%;
  margin: 10px auto;
  position: relative; }
  .autoc input {
    width: 100%;
    height: initial;
    margin-bottom: 0;
    background-color: white;
    box-sizing: border-box; }
  .autoc table {
    width: 100%;
    position: absolute;
    background: whitesmoke;
    z-index: 2; }
  .autoc tr {
    border-bottom: 1px solid #9C9C9C; }
    .autoc tr:hover {
      cursor: pointer; }
  .autoc td {
    width: 100%; }
  .autoc .item-wrap {
    padding: 5px; }
    .autoc .item-wrap img {
      float: left;
      width: 25%;
      max-width: 25%;
      height: 60px;
      max-height: 60px;
      border-radius: 50px;
      border: 1px solid #ddd;
      box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5); }
    .autoc .item-wrap .autoc-data {
      float: right;
      width: 75%;
      max-width: 75%;
      text-align: right; }
    .autoc .item-wrap p:nth-child(1) {
      margin-bottom: 5px; }
    .autoc .item-wrap p:nth-child(3) {
      margin-bottom: 2px; }
    .autoc .item-wrap b {
      font-weight: bold; }
  .autoc .focused {
    background: rgba(93, 93, 93, 0.6);
    color: white; }

.header {
  font-family: "Mj_Beirut_Lt_X3", "Yekan", Tahoma;
  width: 100%;
  float: right;
  padding: 10px 10px;
  background-color: #012d3d;
  background-image: url("../images/logo.png"), url("../images/bright-squares.png");
  background-repeat: no-repeat, repeat;
  background-position: 97% center, center;
  color: white; }
  @media screen and (max-width: 1200px) {
    .header {
      background-position: 99% center, center; } }
  @media screen and (max-width: 600px) {
    .header {
      background-image: url("../images/bright-squares.png");
      background-repeat: repeat;
      background-position: center; } }
  .header a {
    color: white; }
    .header a:hover {
      color: #039be5; }
  .header .header-right {
    float: right;
    margin-top: 10px;
    margin-right: 9em;
    margin-bottom: 1em; }
    @media screen and (max-width: 1200px) {
      .header .header-right {
        margin-right: 8em; } }
    @media screen and (max-width: 1200px) {
      .header .header-right {
        margin-right: 6em; } }
    @media screen and (max-width: 600px) {
      .header .header-right {
        margin-right: 0; } }
    .header .header-right .header-right-maintitle {
      font-size: 26px;
      margin-bottom: 5px; }
      @media screen and (max-width: 1200px) {
        .header .header-right .header-right-maintitle {
          font-size: 24px; } }
      @media screen and (max-width: 1024px) {
        .header .header-right .header-right-maintitle {
          font-size: 22px; } }
    .header .header-right .header-right-subtitle {
      font-size: 18px; }
      @media screen and (max-width: 1200px) {
        .header .header-right .header-right-subtitle {
          margin-right: 16px; } }
      @media screen and (max-width: 600px) {
        .header .header-right .header-right-subtitle {
          font-size: 14px; } }
  .header .header-left {
    float: left;
    margin-left: 3em; }
    @media screen and (max-width: 1107px) {
      .header .header-left {
        margin-left: 1em; } }
    @media screen and (max-width: 600px) {
      .header .header-left {
        margin-left: 0; } }
    .header .header-left img {
      width: 70px;
      height: 70px;
      float: left;
      background: white;
      padding: 1px;
      border-radius: 50px; }
    .header .header-left .header-leftdata {
      margin-top: 2em;
      margin-left: 1em;
      float: right;
      text-align: left; }
      @media screen and (max-width: 968px) {
        .header .header-left .header-leftdata {
          margin-left: 0.4em; } }
  .header .header-endate {
    font-family: 'Calibri'; }
  .header .header-date {
    font-size: 12px; }
  .header .header-userinfo {
    font-size: 18px;
    margin-bottom: 5px; }
  .header nav {
    background: none;
    box-shadow: none; }

.content {
  display: inline-block;
  width: 100%;
  background: #868686; }
  .content .wrap {
    margin: 0 auto;
    background: red;
    clear: both; }
  .content > ul {
    margin: 0 2%; }
    .content > ul li {
      float: right; }
    .content > ul button {
      border-radius: 0; }

.subpanel {
  float: right;
  height: 500px;
  background: #BBBBBB;
  border-radius: 5px;
  margin: 20px 2%;
  overflow: auto; }
  .subpanel .subpanel-header {
    background: #5D5D5D;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 21px;
    color: white; }
    .subpanel .subpanel-header span[class^=foundicon] {
      font-size: 21px; }
    .subpanel .subpanel-header span[class^=glyphicon] {
      font-size: 21px;
      top: 5px; }
  .subpanel .subpanel-body {
    width: 100%;
    background: #BBBBBB; }

.profile {
  width: 27%;
  margin-left: 1%;
  margin-bottom: 10px;
  margin-top: 10px; }
  @media screen and (max-width: 800px) {
    .profile {
      width: 96%; } }
  .profile .subpanel-body {
    padding: 10px; }
  .profile .profile-img {
    width: 50%;
    max-width: 50%;
    margin: 20px auto 60px auto;
    display: block; }
    @media screen and (max-width: 800px) {
      .profile .profile-img {
        width: 25%;
        max-width: 25%; } }
  .profile img {
    width: 100%;
    background: white;
    padding: 4px 10px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075);
    border-radius: 25px; }
  .profile table {
    width: 80%;
    text-align: center;
    display: block;
    margin: 10px auto; }
    .profile table tr {
      text-align: right;
      border-top: 1px solid #ddd; }
    .profile table th {
      padding: 5px;
      text-align: right; }
    .profile table td {
      padding: 5px;
      text-align: center; }

.main {
  width: 67%;
  margin-right: 1%;
  margin-bottom: 10px;
  margin-top: 10px; }
  @media screen and (max-width: 800px) {
    .main {
      width: 96%;
      margin-right: 2%; } }
  .main .subpanel-body {
    padding: 10px; }
    .main .subpanel-body .tree-toolbar {
      margin-bottom: 20px; }
      .main .subpanel-body .tree-toolbar button {
        line-height: initial;
        height: initial;
        padding: 0 10px;
        margin-bottom: 5px; }
      .main .subpanel-body .tree-toolbar span {
        top: 2px; }
    .main .subpanel-body .submit-btns {
      width: 305px;
      height: 50px;
      margin-bottom: 20px;
      float: right; }
      .main .subpanel-body .submit-btns button {
        font-family: 'Yekan';
        width: 150px; }
      .main .subpanel-body .submit-btns .enabled {
        font-size: 22px; }

.progress-bar {
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -ms-transition: 1s all;
  transition: 1s all; }
  .progress-bar i#refresh {
    float: right;
    font-size: 36px;
    vertical-align: bottom;
    margin: 0 10px; }
  .progress-bar span.progress-status {
    margin-left: 5px; }
  .progress-bar .progress-remaining {
    font-size: 30px;
    margin-top: -2px;
    margin-left: 5px; }
  .progress-bar .hidden {
    visibility: hidden; }
  .progress-bar span {
    float: right;
    margin-top: 10px; }

.mp-wrap {
  position: relative;
  float: right;
  margin-bottom: 10px;
  z-index: 5; }
  .mp-wrap .mp-input {
    width: initial;
    height: initial;
    background-color: white;
    margin: 0; }
  .mp-wrap .monthpicker {
    position: absolute;
    width: 300px;
    background: white;
    transition: opacity .4s; }
    .mp-wrap .monthpicker .mp-header {
      background: white;
      float: right;
      width: 100%; }
      .mp-wrap .monthpicker .mp-header .btn {
        border-radius: 0; }
      .mp-wrap .monthpicker .mp-header .mp-next {
        float: right; }
      .mp-wrap .monthpicker .mp-header .mp-year {
        float: right;
        margin: 10px 58px; }
      .mp-wrap .monthpicker .mp-header .mp-prev {
        float: left; }
    .mp-wrap .monthpicker .mp-body {
      float: right;
      width: 100%;
      background: white; }
      .mp-wrap .monthpicker .mp-body table * {
        text-align: center !important; }
        .mp-wrap .monthpicker .mp-body table * td {
          border-radius: 0;
          padding: 20px 10px;
          transition: background-color .4s; }
          .mp-wrap .monthpicker .mp-body table * td:hover {
            cursor: pointer; }
        .mp-wrap .monthpicker .mp-body table * td.spring:hover {
          background-color: #98FF53; }
        .mp-wrap .monthpicker .mp-body table * td.summer:hover {
          background-color: #FFFE6D; }
        .mp-wrap .monthpicker .mp-body table * td.fall:hover {
          background-color: #FFB381; }
        .mp-wrap .monthpicker .mp-body table * td.winter:hover {
          background-color: #65C2FF; }
      .mp-wrap .monthpicker .mp-body li {
        float: right;
        width: 100%; }
      .mp-wrap .monthpicker .mp-body a {
        color: black; }
      .mp-wrap .monthpicker .mp-body .btn, .mp-wrap .monthpicker .mp-body .btn-flat {
        height: initial;
        line-height: initial;
        padding: 10px 10px; }
  .mp-wrap .hidden {
    visibility: hidden; }
  .mp-wrap .visible {
    visibility: visible; }
  .mp-wrap .opacity-full {
    opacity: 1; }
  .mp-wrap .opacity-none {
    opacity: 0; }

.user-select {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-top: 14px; }
  .user-select [type="radio"]:not(:checked) + label, .user-select [type="radio"]:checked + label {
    padding-right: 25px;
    padding-left: 0; }
  .user-select [type="radio"] + label:before, .user-select [type="radio"] + label:after {
    right: 0; }
  .user-select > :nth-child(1) {
    float: right;
    margin-left: 20px; }
  .user-select > :nth-child(2) {
    float: right; }
  .user-select > :nth-child(3) {
    clear: both;
    float: right; }
  .user-select input#autocomplete_1 {
    width: initial;
    height: initial;
    background-color: white;
    margin: 0; }
  .user-select input:disabled {
    background: #DADADA; }

label {
  font-size: 100% !important;
  color: black; }

.footer {
  width: 100%;
  float: right;
  padding: 10px 20px;
  background-color: #012d3d;
  /* #39193A; banafsh*/
  background-image: url("../images/bright-squares.png");
  background-repeat: repeat;
  background-position: center; }
  .footer nav {
    width: 291px;
    margin: 0 auto;
    background: none;
    box-shadow: none;
    height: initial !important;
    line-height: initial; }
    .footer nav ul a {
      font-size: 14px; }
    .footer nav ul li {
      float: right; }

.no-display {
  display: none; }

.no-opacity {
  opacity: 0; }

.lbl-disabled {
  color: rgba(0, 0, 0, 0.26); }

/*# sourceMappingURL=style.css.map */
